/* Reseta e configurações básicas */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1c1d1f;
  color: #fff; /* Cor padrão do texto */
}

/* Contêiner principal */
.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

/* Texto e botão agrupados */
.text-button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Texto acima do botão */
.header-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #e0e0e0;
}

/* Estilo da logo */
.logo {
  max-height: 100vh;
  object-fit: contain;
}

/* Botão minimalista */
.minimal-button {
  background-color: transparent;
  border-radius: 7px;
  border: 2px solid #7a7a7a;
  color: #7a7a7a;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Efeitos no hover do botão */
.minimal-button:hover {
  background-color: #333;
  color: #fff;
}
