/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Estilo do header */
header {
  background-color: hwb(230 13% 82%);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.contain-logo-marca {
  display: flex;
  align-items: center;
  color: white;
}

header img {
  height: 70px;
  width: 70px;
}

.contain-buttons-header {
  display: flex;
  gap: 20px;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* Estilo principal */
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#lista h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: hwb(0 0% 100%);
  text-align: center;
}

#lista hr {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.ocorrencias-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Para duas colunas */
  gap: 20px;
}

.ocorrencia {
  background-color: hwb(225 93% 4%);
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.ocorrencia select {
  padding: 5px;
  border-radius: 5px;
}

/* Estilos para cada status */
.ocorrencia.aguardando-aprovacao {
  border-left: 5px solid rgb(255, 165, 0);
  box-shadow: 0 2px 4px rgba(255, 165, 0, 0.5);
}

.ocorrencia.em-andamento {
  border-left: 5px solid rgb(0, 0, 255);
  box-shadow: 0 2px 4px rgba(0, 0, 255, 0.5);
}

.ocorrencia.finalizada {
  border-left: 5px solid rgb(17, 195, 17);
  box-shadow: 0 2px 4px rgba(17, 195, 17, 0.5);
}

.ocorrencia:hover {
  transform: scale(1.03);
}

.ocorrencia h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: hwb(0 0% 100%);
}

.ocorrencia p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

/* Estilo do footer */
footer {
  text-align: center;
  padding: 10px 0;
  background-color: hwb(231 17% 15%);
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.background-open-modalAgente {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.background-open-modalEncarregado {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.background-open-modalOcorrencia {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}

.contain-form-modal-encarregado {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  display: none;
}

.contain-form-modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  display: none;
}

.contain-form-modal-ocorrencia {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;
}

.contain-form-modal-encarregado form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 5px;
}

.contain-form-modal form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 5px;
}

.contain-form-modal-ocorrencia form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px 40px;
  border-radius: 5px;
}

.contain-form-modal form h1 {
  font-size: 19px;
  text-align: center;
  padding: 10px;
}

.contain-form-modal-ocorrencia form h1 {
  font-size: 19px;
  text-align: center;
  padding: 10px;
}

.contain-buttons-modal {
  display: flex;
  justify-content: end;
  padding: 10px 0;
  gap: 10px;
}

.contain-buttons-modal button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: hwb(231 17% 15% / 0.466);
}

.btn-agent-Ocorrencia {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: hwb(0 100% 0% / 0.466);
  border: 1px black solid;
}

header button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: hwb(229 91% 3% / 0.466);
  border: none;
  cursor: pointer;
}

.contain-inputs-modal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.contain-inputs-modal-encarregado {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  padding-left: 80px;
}

.contain-buttons-modal-selectLista {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.contain-inputs-modal select {
  height: 35px;
  border-radius: 5px;
}

.contain-inputs-modal label {
  text-align: right;
  padding-right: 10px;
}

.contain-inputs-modal-encarregado input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(198, 198, 198);
  outline: none;
  font-size: 15px;
}

.contain-inputs-modal input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(198, 198, 198);
  outline: none;
  font-size: 15px;
}

.background-open-modal {
  display: none;
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 1;
}

.btn-ocorrencia {
  background-color: yellow;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

.btn-ocorrencia-delete {
  background-color: red;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

.btn-ocorrencia-status {
  background-color: green;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

/* Fundo de tela para o modal */
.background-open-modalListaAgente {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;

  /* Inicialmente escondido */
}

.background-open-modalListaAgenteSelect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.background-open-modalListaEncarregado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  display: none;
}

.contain-form-modal-lista {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  max-height: 600px;
  width: 80%;
  /* Ajuste conforme necessário */
  max-width: 600px;
  display: none;

  /* Inicialmente escondido */
}

.contain-form-modal-lista-encarregado {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 3;
  max-height: 600px;
  width: 80%;
  /* Ajuste conforme necessário */
  max-width: 600px;
  display: none;

  /* Inicialmente escondido */
}

/* Tabela */
.tabela-agentes {
  border-collapse: collapse;
  margin-top: 10px;
}

.tabela-agentes th,
.tabela-agentes td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-agentes th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.tabela-agentes tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-agentes tr:hover {
  background-color: #f1f1f1;
}

.modal-agente {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  padding: 20px 30px;
  z-index: 3;
  border-radius: 10px;
  background: white;
  flex-direction: column;
  justify-content: space-between;
}

.tabela-encarregado {
  border-collapse: collapse;
  margin-top: 10px;
}

.tabela-encarregado th,
.tabela-encarregado td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.tabela-encarregado th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.tabela-encarregado tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela-encarregado tr:hover {
  background-color: #f1f1f1;
}

.modal-encarregado {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 600px;
  padding: 20px 30px;
  z-index: 3;
  border-radius: 10px;
  background: white;
  flex-direction: column;
  justify-content: space-between;
}

.modal-agente div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-encarregado div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-agente button {
  width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  margin-left: auto;
  background-color: white;
  transition: 0.2s;
}

.contain-buttons-modal button {
  width: 100px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  background-color: white;
  transition: 0.2s;
}

.contain-buttons-modal button:hover {
  background-color: rgba(255, 0, 0, 0.593);
  cursor: pointer;
}

.modal-agente button:hover {
  background-color: rgba(255, 0, 0, 0.593);
  cursor: pointer;
}

#modalAgente .modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
  overflow-x: hidden;
}

#tabelaAgentes {
  width: 100%;
  border-collapse: collapse;
}

#tabelaAgentes th,
#tabelaAgentes td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#tabelaAgentes tr:hover {
  cursor: pointer;
  background-color: rgba(43, 69, 217, 0.147);
}

#tabelaAgentes th {
  background-color: #f4f4f4;
}

#modalAgente .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.contain-header-ocorrencia {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bolinha-status {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.background-orange-indicator {
  background-color: orange;
}

.background-green-indicator {
  background-color: green;
}

.background-yellow-indicator {
  background-color: yellow;
}

.btn-deletar {
  border-radius: 5px;
  padding: 2px;
  background-color: rgba(53, 96, 124, 0.531);
}

.div-delete {
  padding-left: 2px;
  text-align: center;
}
